{% extends "main/main_page_wrapper.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container" style="width: 600px">
            <select name="vendor" id="vendor" class="form-control input-lg">
                <option value="">Select vendor</option>
            </select>
            <br>
            <select name="device" id="device" class="form-control input-lg">
                <option value="">Select model</option>
            </select>
            <br>
            <select name="firmware" id="firmware" class="form-control input-lg">
                <option value="">Select firmware</option>
            </select>
        </div>
    </div>
{% endblock %}